header {
    margin: 0px;
    padding: 0px;

    div {
        background-color: lightpink;

        div {
            li {
                ul {
                    li {
                        background-color: lightpink;

                    }
                }
            }
        }
    }

}